.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #ffffff;
}

.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
  font-weight: 400;
  font-size: calc(2rem + 1.5vw);
  color: #7086dc;
}

.timer {
  font-size: calc(6rem + 2vw);
  margin: 2rem 0;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  font-size: calc(1rem + 0.5vw);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #232323;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 500;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #393939;
      transform: translateY(-2px);
    }

    &:active {
      background-color: #131313;
      transform: translateY(2px);
    }
  }
  }
