.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #ffffff;
}

.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
  font-weight: 400;

  /* Responsive font size adjustment */
  font-size: 3rem;
  @media (min-width: 768px) {
    font-size: 4rem;
  }
}

.timer {
  font-size: 6rem;
  margin: 2rem 0;
  font-weight: 500;

  /* Responsive font size adjustment */
  @media (min-width: 768px) {
    font-size: 8rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: #ffffff;
  cursor: pointer;
  transition:  0.3s ease;
  font-weight: 500;

  /* Responsive font size adjustment */
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

/* Hover effects for desktop only */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #666666;
    transform: translateY(-0.05rem);
  }

  .button:active {
    background-color: #4a4a4a;
    transform: translateY(0.1rem);
  }
}
